@model IEnumerable<todo.Models.Item>

<h2>💀 My vulnerable To-Do Items list</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("name")  
        <input type="submit" value="Search"  class="btn btn-default"/>
    </p>
}

<p>Hint:  ' OR '1'='1'--</p>

<p>
     @{ Html.RenderPartial("~/Views/Item/Table.cshtml"); }
</p>


<div>
    @Html.ActionLink("Back to home page", "Index")
</div>