@model IEnumerable<todo.Models.Prescription>

<div align="left">
    <p style="font-size:20px;">Welcome back, <b>John Shannon</b>!</p>
</div>
<p>&nbsp;</p>

<h2>💊 My prescriptions</h2>

@using (Html.BeginForm())
{
    <p>
        Find by prescription name: @Html.TextBox("name")
        <input type="submit" value="Search"  class="btn btn-default"/>
    </p>
}

<p style="color:white">Hint:  ' OR '1'='1'--</p>

<p>
     @{ Html.RenderPartial("~/Views/Item/Table.cshtml"); }
</p>


<div>
    @Html.ActionLink("Back to home page", "Index")
</div>